//- Core Site Setup
- var siteTitle = 'Pugwind'
- var siteDesc = 'A Simple Pugjs based template.'
- var siteLongDesc = siteDesc + ' ' // Leave space at beginning of string
- var siteUrl = ''
- var siteEmail = '' // Base64 encode
- var sitePhone = ''

//- Social
- var twitterHandle = '' // Include @
- var twitterUrl = ''
- var instagramUrl = ''

//- Assets
- var googleFont = 'https://fonts.googleapis.com/css?family=Roboto:100,400'
- var iconsCDN = 'https://unpkg.com/ionicons@4.2.2/dist/ionicons.js'
- var siteCSS = './styles/main.scss'
- var siteJS = './js/index.js'

