extends templates/layout

block head
  - var currentPage = "Contact";
  - var bodyClass = currentPage.replace(/\s+/g, '-').toLowerCase();
  title #{siteTitle} | #{siteDesc}

block content
  .wrapper
    h1 #{currentPage}



